
body {
  background-color: rgb(253,185,200);
}

.title-container{
  height: 40vh;

  background-color: rgb(253,185,200);

}

.title-hello {
  font-size: 8rem;
  font-weight: 500;
  font-family: 'Gloria Hallelujah', cursive;
}

.title-name{
  font-size: 3rem;
  font-weight: 800;
  font-family: 'Gloria Hallelujah', cursive;

  position: relative;
  top: -2rem;

  color: rgb(253,185,200);
  background-color: #3C1053FF
}

.title-tag{
  font-size: 2rem;
  font-weight:500;
  font-family: 'Gloria Hallelujah', cursive;
  position: relative;
  top: -2rem;
}

.about-me-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}


.about-me-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
  border-radius:100%;
  box-shadow: 5px 5px 5px black;
}

.about-me-text {
  font-size:1.2rem;
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 5% !important;
  padding-right:5% !important;
  color: white
}

.pawn-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}

.pawn-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
}

.pawn-text {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.knight-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}

.knight-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
}

.knight-text {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.bishop-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}

.bishop-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
}

.bishop-text {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.rook-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}

.rook-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
}

.rook-text {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.queen-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}

.queen-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
}

.queen-text {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.king-container {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
}

.king-image{
  height: 16vw;
  width: 16vw;
  padding-top: 2%;
}

.king-text {
  width: 80vw;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10vw;
  background-color: #3C1053FF;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

.contact-me-container{
  margin-top:10vh;
  margin-bottom: 8vh;
  font-size: 2rem;
  font-weight:400;
  font-family: 'Gloria Hallelujah', cursive;

}

.contact-me-icon {
  width:5rem;
  height:5rem;
}
